
.flex{
    display: flex;
}
.justify_center{
    justify-content: center;
}
.align-item{
    align-items: center;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background: #121212;

}
.rounded{
    border-radius: 8px;
}